@page "/auth"

<h3>Auth</h3>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <p>You are authorized to see this.</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to see this.</p>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@code {

}
