@page "/"

@if (ProductsResponse is null)
{
    <p><em>Loading ...</em></p>
}
else {
    <div>
        @foreach (var product in ProductsResponse.Result)
        {
            <ProductCard Product="product"></ProductCard>
        }
    </div>
}